__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env*
.git
.dockerignore

docker-compose.*
docker-up-build-events.*
docker-up-build-series.*
docker-up.*
LICENSE
README.md
Dockerfile

# Log
*.log
logs/

# ssh
.ssh
.venv