# GENERAL
LOG_DIR=logs # The path from project root where log files are stored
LOG_LEVEL=INFO # See python logging module
LOG_RETENTION=7 # How many log files until oldest is recycled. One log file per day
LOG_STDOUT=false # If true, logs INFO, ERROR and WARNING to stdout. This makes it hard to use the interactive terminal, but if you are deploying this in a container, then its totally fine to log to stdout. This setting does not affect log handlers.
LOCAL_TIME_ZONE=Australia/Sydney
VLR_UTC_OFFSET=4

# Scheduling / Scraping
BULK_INSERT_FREQUENCY=90 # Time in seconds until next bulk insert
HIGH_PRIORITY_FREQUENCY=60 # Time in seconds until fetch high priority tasks
LOW_PRIORITY_FREQUENCY=21600 # Time in seconds until fetch low priority tasks
PROBE_SERIES_FREQUENCY=172800 # Time in seconds until probe (discovering new) series
PROBE_EVENTS_FREQUENCY=86400 # Time in seconds until probe (discovering new) events w/ no parent series
NUM_SCRAPER_WORKERS=20 # Number of workers/threads used to scrape

# Private Query REST API
API_HOST=localhost # Usually localhost if using autossh
API_PORT=8111 # The port of the private api, 8111 by default

# autossh / ssh tunnel setup
LOCAL_PORT=8111 # The local port to be forwarded to remote port
SSH_USER=myuser # User
SSH_HOST=myhostname.com # Hostname

# Lamiella (Telegram Bot)
USE_TELEGRAM=true # Have telegram send errors
TELEGRAM_TOKEN=123123123:mytoken:19238
CHAT_IDS=209837123

# PRIVATE_API
PRIVATE_API_BASE_URL=http://localhost:8111/api/v1/